{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Site Title Here</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
</head>
<body>
    <header>
        <h1><a href="/">Home</a></h1>
    </header>
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="new-post-button" title="New Post">
        {% include './icons/post_add.svg' %}
    </a>
    {% endif %}
    {% block content %}
    {% endblock %}
    <footer>
        <h1>Place Footer Here</h1>
    </footer>
    </footer>
</body>
</html>