* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: darkslateblue;
}

a:hover {
    color: slateblue;
}

header, footer {
    background-color: lightgray;
}

.post, header, footer {
    color: gray;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
}

form, .new-post-button {
    margin-bottom: 5px;
}

.post-info, .edit-button {
    display: flex;
}
